.cat-list {
  padding: 0 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  @media (max-width: 560px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
